#header{
    width: 100%;
    height: 140px;
}
#header span {
    width: fit-content;
    height: fit-content;
    margin: 0 20px;
}
#topHeader{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px #a0a0a0;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:solid 1px #a0a0a0;
}
#logo img{
    width: 50px;
    height: 50px;
}
#logo p{
    width: max-content;
    padding-right:10px ;
}
#lanSelect{
    width: 75px;
    height: 30px;
}
#menu{
    width: 100% !important;
}
#menu ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#menu ul li{
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
#language{
    width: 75px !important;
    height: 30px !important;
    position: relative;
}
#lanSelect {
    cursor: pointer;
    position: relative;
    z-index: 5;
    background: none;
    border: none;
}
#connectUs{
    border-left:solid 1px #a0a0a0;
    height: 50px !important;
    line-height: 50px;
    padding: 0 10px;
}
#language img{
    width: 25px;
    height: 15px;
    position: absolute;
    margin: auto;
    right: 19px;
    top: 8px;
    z-index: 0;
    cursor: pointer;
}
.hide{
    display: none;
}
#bottomHeader{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}